<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcytk.dao.UserDao">
    <resultMap id="UserResult" type="com.wcytk.entity.User">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="passwd" property="passwd"/>
        <result column="student_id" property="student_id"/>
    </resultMap>

    <resultMap id="TeacherResult" type="com.wcytk.entity.Teacher">
        <id property="id" column="id"/>
        <result column="name" property="name"/>
        <result column="passwd" property="passwd"/>
        <result column="teacher_id" property="teacher_id"/>
    </resultMap>

    <select id="SelectStudent" resultMap="UserResult">
      SELECT * FROM user WHERE student_id = #{student_id} AND passwd = #{passwd}
    </select>

    <select id="selectTeacher" resultMap="TeacherResult">
      SELECT * FROM teacher WHERE teacher_id = #{teacher_id} AND passwd = #{passwd}
    </select>

    <select id="selectTeacherId" parameterType="int" resultMap="TeacherResult">
        SELECT * FROM teacher WHERE teacher_id = #{teacher_id}
    </select>

    <select id="selectStudentId" parameterType="int" resultMap="UserResult">
        SELECT * FROM user WHERE student_id = #{student_id}
    </select>

    <insert id="AddUser" parameterType="com.wcytk.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (name, passwd, student_id) VALUES (#{name}, #{passwd}, #{student_id})
    </insert>

    <insert id="addTeacher" parameterType="com.wcytk.entity.Teacher" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO teacher (name, passwd, teacher_id) VALUES  (#{name}, #{passwd}, #{teacher_id})
    </insert>
</mapper>